<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery | Carousel</title>
    <link rel="stylesheet" href="/carousel.css">
</head>
<body>
    <div class="top">
        <a href="http://localhost:8080/">
            <i style="color: white;" class="fa fa-home" aria-hidden="true"></i>
        </a>
        <h2>CAROUSEL IMAGE GALLERY</h2>
    </div>

    <div class="carousel">
        <button class="prev"><i  class="fa fa-chevron-left" aria-hidden="true"></i></button>

        <div class="itemList">
            <div class="img">
                <img src="images/img1.jpg" alt="#">
                <span>This is a caption</span>
            </div>
            <div class="img">
                <img src="images/img2.jpg" alt="#">
                <span>This is a caption</span>
            </div>
            <div class="img">
                <img src="images/img3.jpg" alt="#">
                <span>This is a caption</span>
            </div><div class="img">
                <img src="images/img4.jpg" alt="#">
                <span>This is a caption</span>
            </div><div class="img">
                <img src="images/img5.jpg" alt="#">
                <span>This is a caption</span>
            </div><div class="img">
                <img src="images/img6.jpg" alt="#">
                <span>This is a caption</span>
            </div><div class="img">
                <img src="images/img7.jpg" alt="#">
                <span>This is a caption</span>
            </div><div class="img">
                <img src="images/img8.jpg" alt="#">
                <span>This is a caption</span>
            </div><div class="img">
                <img src="images/img9.jpg" alt="#">
                <span>This is a caption</span>
            </div><div class="img">
                <img src="images/img10.jpg" alt="#">
                <span>This is a caption</span>
            </div><div class="img">
                <img src="images/img11.jpg" alt="#">
                <span>This is a caption</span>
            </div><div class="img">
                <img src="images/img12.jpg" alt="#">
                <span>This is a caption</span>
            </div><div class="img">
                <img src="images/img2.jpg" alt="#">
                <span>This is a caption</span>
            </div>
            <div class="img">
                <img src="images/img13.jpg" alt="#">
                <span>This is a caption</span>
            </div>
        </div>

        <button class="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>


    <script src="https://kit.fontawesome.com/b51a57a65a.js" crossorigin="anonymous"></script>

    <script src="/carousel.js"></script>
</body>
</html>