<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ary Gallery | Home</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
    <div class="home" style="visibility: hidden;">This is hidden</div>
    <div class="navbar">
        <ul class="navlist">
            
            <!-- <li class="navItem webText" id="webText"><a href="http://localhost:8080/">WEB GALLERY | </a></li> -->
            <li class="navItem">Home</li>
            <li class="navItem">About</li>
            <li class="navItem">Contact us</li>
        </ul>

        <div class="progress" style="width: 0px;"></div>
    </div>
    

    <div class="mainText">
        <span >WEB GALLERY</span>
    </div>
    <div class="subText">
        <div class="line"></div>
        <p>NIT Patna</p>
        <div class="line"></div>
    </div>

    <div class="selectionText">
        SELECT GALLERY TYPE
    </div>

    <div class="selectionBox">
        <a href="http://localhost:8080/collage">
            <div class="photoBox collage">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <span>Collage</span>
            </div>
        </a>
        <a href="http://localhost:8080/ss">
            <div class="photoBox staged">
                <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                <span>Staged scrolling</span>
            </div>
        </a>
        
        <a href="http://localhost:8080/carousel">
            <div class="photoBox carousel">
                <div class="arrows">
                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                </div>
                <span>Carousel</span>
            </div>
        </a>
    </div>

    <div class="about" id="about">
        <h2>About</h2>
        <div class="aboutBox b1" data-aos="slide-right" data-aos-duration="1000">
            <img src="collage.jpg" alt="#">
        
            <p>A collage image gallery is a visually appealing way to display multiple images in a single view. Images are usually arranged in a mosaic or grid layout, resembling a physical collage.</p>
        </div>

        <div class="aboutBox b2" data-aos="slide-left" data-aos-duration="1000">
            <img src="scrolling_infinite.png" alt="#">
        
            <p>A staged scrolling image gallery presents images in a sequential manner, often with one image displayed prominently at a time while the rest are partially visible or hidden.</p>
        </div>

        <div class="aboutBox b3" data-aos="slide-right" data-aos-duration="1000">
            <img src="Product-gallery-slider.png" alt="#">
        
            <p>A carousel image gallery displays multiple images in a rotating carousel format, typically with navigation arrows or indicators for users to browse through the images. </p>
        </div>

    </div>

    <hr>

    <h2 class="contactText" >Contact Us</h2>
    <div class="contact" data-aos="fade-up" data-aos-duration="1000">
        <div class="message contactItem">
            <h1>Message Us</h1>
            <p>Have any questions ? If YES then you can contact us by filling up the form provided on the right section, we will try to reach out as soon as possible.
            <br>Thank You.
            </p>
        </div>
        <div class="form contactItem">
            <form action="#">
                <input type="text" name="name" placeholder="Your name" required>
                <input type="email" name="eamil" placeholder="email" required>
                <textarea name="desc" cols="50" rows="5" required>Description...</textarea>
                <button>Submit</button>
            </form>
        </div>
    </div>

    <div class="contactAfter">
        <p>This website demonstrates different types of image gallery that can be to stack multiple images in differnt styles.
         <br> <a style="color: blue;" href="">Documentation of this web build</a>  
        </p>

        <div class="separate"></div>

        <div class="social">
            <a href="https://www.linkedin.com/in/vasu-choudhari-5a4363235/">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/VasuOOCh">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/vasu__choudhari/">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/b51a57a65a.js" crossorigin="anonymous"></script>
    <script src="/app.js"></script>
</body>
</html>