*{
    margin: 0;
    padding: 0;
}

body{
    background: url(http://localhost:8080/imagesFull/img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -60px;

}

button{
    border-radius: 50%;
}

img{
    height: 200px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 20px;

    scroll-snap-align: center;
    transition: 0.5s;
}

h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.itemList::-webkit-scrollbar{
    display: none;
}

.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 330px;

    
}

button{
    height: 40px;
    width: 40px;
    font-size: 30px;
}


.itemList{
    /* max-width: 1000px; */
    width: 690px;
    display: flex;
    overflow: scroll;

    padding: 50px;
    border-radius: 30px;

    scroll-behavior: smooth;
    gap: 50px;
    scroll-snap-type:x mandatory;

    /* background-color: rgba(74, 74, 74,0.2); */
    /* backdrop-filter: blur(5px); */
    /* border: 1px solid white; */
    /* box-shadow: 0 0 1px 1px white; */

}


.top {
    /* margin: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(112, 112, 112,0.5);
    backdrop-filter: blur(5px);
}

.top > * {
    margin: 10px;
    padding: 10px;
    font-size: 25px;
}

.top i:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
}

a{
    color: inherit;
}

.focus{
    transform: scale(1.2);
}

.notFocus{
    filter: grayscale(100%);
}


.img{
    position: relative;
}
.img span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    color: white;
    font-size: 20px;
}

.img:hover span{
    visibility: visible;
}

.img:hover img{
    filter: blur(3px) brightness(50%);
}

body::-webkit-scrollbar{
    width: 0px;
}