
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

body{
    background: url(pexels-kelly-4171932.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: 0px -60px;
}

img{
    height: 200px;
    aspect-ratio: auto;
    object-fit: cover;
    padding: 10px;
    border-radius: 30px;
    transition: 0.5s;

}

.img{
    transition: 0.5s;
}

.img:hover{
    transform: scale(1.15);
}

.collage{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    background-color: rgba(74, 74, 74,0.2);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    padding: 20px;
    border: 1px solid white;
    box-shadow: 0 0 1px 1px white;
}

.top {
    /* margin: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.top > * {
    margin: 10px;
    padding: 10px;
    font-size: 25px;
}

.top i:hover{
    border-bottom: 2px solid black;
}

a{
    color: inherit;
}

.img{
    position: relative;
}
.img span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    color: white;
    font-size: 20px;
}

.img:hover span{
    visibility: visible;
}

.img:hover img{
    filter: blur(3px) brightness(50%);
}