.top {
    /* margin: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.top > * {
    margin: 10px;
    padding: 10px;
    font-size: 25px;
}

.top i:hover{
    border-bottom: 2px solid black;
}

a{
    color: inherit;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

body{
    background: url(pexels-kelly-4171932.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: 0px -60px;
    background-attachment: fixed;
}

img{
    height: 300px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 20%;
    scroll-snap-align: center;
    

    transition: 0.5s;

    
}

.img{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    font-size: 22px;
}

.img:nth-child(odd) {
    display: flex;
    align-items: center;
    width: 60%;
    margin-right: auto;
    margin-left: 100px;
}


.img:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: 100px;
}

.img > * {
    padding: 30px;
}

.ss{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 400px; */
    width: 100%;
    /* overflow: scroll; */
    padding: 30px 0;
    gap: 30px;
}

body::-webkit-scrollbar {
    display: none;
  }
  


